.creamBG {
    background: var(--Cream);
}

.loginMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--White);
    width: max(300px, 30vw);
    margin: 4em auto;
    border-radius: 1.5em;
    box-shadow: 0 11px 35px 2px rgb(0, 0, 0, 0.14);
    text-align: center;
    padding: 3em 0;
}

.loginMainTitle {
    margin-top: -0.1em;
    padding-bottom: 1em;
}

.accountInput {
    width: 76%;
    color: var(--Dark);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 27px;
    text-align: center;
}

.errorBanner {
    margin-top: -0.2em;
    color: var(--DarkRed)
}